:root {
    --background: #233637;
    --primary: #1FB67C;
    --secondary: #20BC7D;
    --tertiary: #26C893;
    --quaternary: #55DDB9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emerald {
    position: relative;
    width: 20vmin;
    height: 20vmin;
    transform: rotate(45deg);
}

span:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5vmin solid transparent;
    border-right: 5vmin solid var(--secondary);
    border-bottom: 5vmin solid var(--tertiary);
    border-left: 5vmin solid transparent;
    animation: glint 1s ease-in infinite;
}

span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 10vmin;
    width: 0;
    height: 0;
    border-top: 5vmin solid var(--primary);
    border-right: 5vmin solid var(--secondary);
    border-bottom: 5vmin solid var(--tertiary);
    border-left: 5vmin solid var(--quaternary);
    animation: glint 1s ease-out infinite;
}

span:nth-child(3) {
    position: absolute;
    top: 10vmin;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5vmin solid var(--primary);
    border-right: 5vmin solid var(--secondary);
    border-bottom: 5vmin solid var(--tertiary);
    border-left: 5vmin solid var(--quaternary);
    animation: glint 1.2s ease-in infinite;
}

span:last-child {
    position: absolute;
    top: 10vmin;
    left: 10vmin;
    width: 0;
    height: 0;
    border-top: 5vmin solid var(--primary);
    border-right: 5vmin solid var(--secondary);
    border-bottom: 5vmin solid var(--tertiary);
    border-left: 5vmin solid var(--quaternary);
    animation: glint 1.2s ease-out infinite;
}

@keyframes glint {
    10% {
      opacity: .75;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    50% {
      opacity: .65;
      transition-property: left, top, opacity;
    }
    100% {
        opacity: 1;
        transition-property: left, top, opacity;
      }
  }